@model IEnumerable<farmacia.Models.Servico>

@{
    ViewData["Title"] = "Index";
}
<div class="container" id="linkGen" style="margin-bottom:-70px; margin-top:60px; margin-left:190px">
    <p style="color:#212529; font-size: 20px;">Listar serviços</p>
</div>

<div class="container-md pt-3" id="headCliente" style="box-shadow: 1px 5px 15px #888888; max-width:1520px;">
    <p>
        <A asp-action="Create" class="btn btn-primary">Novo serviço</a>
    </p>
    <table class="table">
        <thead  class="table-light">
            <th>@Html.DisplayNameFor(model => model.tipoServico.tipo)</th>
            <th>@Html.DisplayNameFor(model => model.servico)</th>
            <th style="width:200px;">Operações</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.tipoServico.tipo)</td>
                    <td>@Html.DisplayFor(modelItem => item.servico)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServicoId" class="btn btn-success">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn btn-danger">Remover</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>