@model farmacia.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa.bi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.bi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
