@model IEnumerable<farmacia.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    var result = @TempData["msg"];
}

@if (result == null)
{
    <script>
        $(function () {
            $.notify({
                title: "<strong>Message:</strong> ",
                message: "ddddddddddd"
            });
        });
    </script>
    // ViewBag.Msg = null;
}

@if (@result != null && @result.Equals("delete"))
{
    <div class="container" id="notificacao" style="max-width:520px; float:right; margin-right:200px; margin-top:-20px;">
        <h5 class="alert alert-danger"> Não podes remover o cliente!</h5>
    </div>
}

@if (@result != null && @result.Equals("delete1"))
{
    <div class="container" id="notificacao" style="max-width:520px; float:right; margin-right:200px; margin-top:-20px;">
        <h5 class="alert alert-danger"> Cliente removido com sucesso!</h5>
    </div>
}

@if (@result != null && @result.Equals("add"))
{
    <div class="container" id="notificacao" style="max-width:520px; float:right; margin-right:200px; margin-top:-20px;">
        <h5 class="alert alert-success"> Cliente adicionados com sucesso!</h5>
    </div>
}

@if (@result != null && @result.Equals("edit"))
{
    <div class="container" id="notificacao" style="max-width:520px; float:right; margin-right:200px; margin-top:-20px;">
        <h5 class="alert alert-success"> Dados do cliente actualizado com sucesso!</h5>
    </div>
}

<div class="container" id="linkGen" style="margin-bottom:-70px; margin-top:70px; margin-left:190px">
    <p style="color:#212529; font-size: 20px;">Listar clientes</p>
</div>

<div style="display:flex; flex-direction:row; flex-wrap: wrap;">
   
    <div class="container-md pt-3 shadow-lg" id="headCliente" style="max-width:1520px; margin-right:80px;" >
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Novo
            paciente</button>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.pessoa.nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pessoa.sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pessoa.bi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pessoa.telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pessoa.email)
                    </th>
                    <th style="width:200px;">Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pessoa.nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pessoa.sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pessoa.bi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pessoa.telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pessoa.email)
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.pessoa.PessoaId" class="btn btn-success">Editar</a> |
                                <a asp-action="Delete" asp-route-id="@item.pessoa.PessoaId" class="btn btn-danger">Remover</a> *@

                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                    Seleciona
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Edit" asp-route-id="@item.pessoa.PessoaId"
                                        class="dropdown-item">Editar</a></li>
                                    <li><a asp-action="Delete" asp-route-id="@item.pessoa.PessoaId"
                                        class="dropdown-item">Remover</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #198754; color: white">
                        <h5 class="modal-title" id="exampleModalLabel">Registar paciente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label for="nome" class="form-label" style="font-family: inherit;">Nome completo</label>
                                <input for="nome" class="form-control form-control-lg" type="text" id="nome" value=""
                                    name="nome" required />
                                <span validation-for="nome" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="sexo" class="form-label">Genéro</label>
                                <input for="sexo" class="form-control form-control-lg" type="text" id="sexo" value=""
                                    name="sexo" required />
                                <span validation-for="sexo" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="bi" class="form-label">B.I</label>
                                <input for="bi" class="form-control form-control-lg" type="text" id="bi" value="" name="bi"
                                    required />
                                <span validation-for="bi" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="telefone" class="form-label">Telefone</label>
                                <input type="number" class="form-control form-control-lg" id="telefone" value=""
                                    name="telefone" required />
                                <span validation-for="telefone" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input for="email" type="email" class="form-control form-control-lg" id="email" value=""
                                    name="email" placeholder="name@example.com" required />
                                <span validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success">Registar</button>
                                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-success" style="max-width:180px; margin-top:100px; margin-right:80px; height:190px;">
        <div class="card-header text-white">Exportar</div>
        <div class="card-body bg-white">
           <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-excel" viewBox="0 0 16 16">
                    <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704z"/>
                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                </svg>Excel
            </button><br><br>
            <button type="button" class="btn btn-outline-success bi bi-filetype-pdf" data-bs-dismiss="modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                </svg> PDF
            </button>
        </div>
    </div>

</div>




<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

@section Scripts{



}