@model dynamic;

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="linkGen" style="margin-bottom:-70px; margin-top:60px; margin-left:190px">
    <p style="color:#212529; font-size: 20px;">Listar agendas</p>
</div>

<div class="container-md pt-3" id="headCliente" style="box-shadow: 1px 5px 15px #888888; max-width:1520px;">
    <p>
        <a asp-action="Create" class="btn btn-primary">Nova agenda</a>
    </p>
    <table class="table">
        <thead class="table-light">
            <th>Serviço</th>
            <th>Funcionário</th>
            <th>Tipo funcionário</th>
            <th>Horário</th>
            <th style="width:200px;">Operações</th>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.agenda)
            {
                <tr>
                    <td> @item.nomeServico </td>
                    <td> @item.nomeFuncionario </td>
                    <td> @item.tipoFuncionario </td>
                    <td> @item.horario </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.idAgenda" class="btn btn-success">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.idAgenda" class="btn btn-danger">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>